<!-- Start results -->
<div class="row">
  <div class="col-xs-12">
    <% if @cases.to_a.empty? %>
      <h3>No se han encontrado acuerdos</h3>
    <% else %>
      <h3>Resultado de acuerdos</h3>
    <% end %>
  </div>
</div>

<% unless @cases.to_a.empty? %>
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Expediente</th>
            <th>Fecha</th>
            <th>Estado</th>
            <th>Tribunal</th>
            <th>Acuerdo</th>
          </tr>
        </thead>
        <tbody>
          <% @cases.each do |file_case| %>
            <tr>
              <td><%= link_to file_case.casenumber.to_s, case_path(q: file_case.casenumber.to_s, tribunal: file_case.tribunal_id) %></td>
              <td><%= file_case.date.to_date %></td>
              <td><%= file_case.tribunal.state.name %></td>
              <td><%= file_case.tribunal.name %></td>
              <td><%= file_case.description %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @cases, theme: 'twitter-bootstrap-3' %>
    </div>
  </div>
<% end %>
