<div class="inner-wrapper">
  <h1>Estatus del sistema</h1>
  <!-- Start scrappers -->
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Componente</th>
        <th>Estatus</th>
        <th>Última Actualización</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Jalisco</td>
        <td><%= fa_icon "check-circle 2x", class: "check-icon" %></td>
        <td>30/04/2015</td>
      </tr>
      <tr>
        <td>Nuevo León</td>
        <td><%= fa_icon "times-circle 2x", class: "cross-icon" %></td>
        <td>25/04/2015</td>
      </tr>
      <tr>
        <td>Guanajuato</td>
        <td><%= fa_icon "times-circle 2x", class: "cross-icon" %></td>
        <td>28/04/2015</td>
      </tr>
      <tr>
        <td>Baja California</td>
        <td><%= fa_icon "times-circle 2x", class: "cross-icon" %></td>
        <td>24/04/2015</td>
      </tr>
    </tbody>
  </table>
  <div class="clearfix">
    <div class="icon-description"><%= fa_icon "check-circle", class: "check-icon" %> Funciona perfectamente</div>
    <div class="icon-description"><%= fa_icon "times-circle", class: "cross-icon" %> Está caído </div>
  </div>
  <h2>Incidentes Pasados</h2>
  <!-- Start log of scrappers -->
  <div>
    <div class="log">
      <h4>Abril 30, 2015</h4>
      <p>El scrapper de Jalisco fue agregado.</p>
    </div>
    <div class="log">
      <h4>Abril 28, 2015</h4>
      <p>Nuevo Leon se cayó.</p>
    </div>
    <div class="log">
      <h4>Abril 30, 2015</h4>
      <p>Baja California se cayó.</p>
    </div>
    <div class="log">
      <h4>Abril 30, 2015</h4>
      <p>Baja California en linea.</p>
    </div>
    <div class="log">
      <h4>Abril 30, 2015</h4>
      <p>Baja California se cayó.</p>
    </div>
  </div>
</div>
